.header
  ul.nav.nav-pills.pull-right
  h3.text-muted mmo-set

.jumbotron(ng-hide="play")
  h1 MMO-Set
  p.lead
    <img src="images/yeoman.png" alt="I'm Yeoman">
    br
    | A "set" is three cards with characteristics all the same and/or all different.
  p
    a.btn.btn-lg.btn-success(ng-click="play = true") Duh, lemme play!

.jumbotron(ng-show="play")
  p
    a.btn.btn-lg.btn-success(ng-click="play = false") I've had about enough of this!

  .stage(ng-controller="GameCtrl", ng-show="play")
    .card(ng-class="cardClasses(card)", 
      ng-click="selectCard(card)", 
      ng-repeat="card in cards", 
      ng-controller="CardCtrl")
      div
    p
      a.btn.btn-lg.btn-success(ng-click="addCards()") Please, sir, may I have some more?
    .scoreboard
      p Score: {{score}}
      p Seconds: {{time}}
      p Sets: 
        .set(ng-repeat="set in sets")
          .card(ng-class="cardClasses(card)", 
            ng-repeat="card in set", 
            ng-controller="CardCtrl")
            div

.row
  h3 This is my cool new thing
  p.lead
    name: {{coolNewThing.name}}
    type: {{coolNewThing.type}}

.footer
  p 3 the same and different to win
